body {
  margin: 0px;
  padding: 0px;
  background-image: url(./img/SVG.png);
  background-repeat: no-repeat;
  background-position: center;
}
body .container {
  width: auto;
  background-color: white;
  justify-content: center;
}
body .container .nav {
  width: 1320px;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
body .container .nav .nav1 {
  display: flex;
  justify-content: space-between;
  width: 808.84px;
  height: 44.13px;
  margin-left: 15px;
}
body .container .nav .nav1 .logo {
  height: 32px;
  width: 167px;
}
body .container .nav .nav1 .n1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 611.84px;
  height: 44.13px;
  align-content: center;
}
body .container .nav .nav1 .n1 #org {
  color: orangered;
}
body .container .nav .nav1 .n1 div {
  display: flex;
  align-items: center;
  height: 44.13px;
}
body .container .nav .n2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 347.92px;
  height: 44px;
  margin-right: 15px;
}
body .container .nav .n2 #but {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  align-items: center;
  height: 44px;
  width: 83.31px;
  border-radius: 200px;
}
body .a1 {
  width: auto;
  height: 640px;
}
body .a1 .wher {
  display: flex;
  margin-top: 30px;
  height: 80px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 12px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
body .a1 .wher .d1 {
  width: 371.02px;
  height: 50px;
  display: flex;
  align-items: center;
}
body .a1 .wher .d1 .pink {
  background-color: rgb(254, 247, 244);
  height: 50px;
  width: 50px;
  border-radius: 12px;
}
body .a1 .wher .d1 .txt > p {
  margin: 0px;
  margin-left: 10px;
}
body .a1 .wher .button {
  background-color: rgb(235, 102, 43);
  color: white;
  width: 136.95px;
  height: 60px;
  border-radius: 12px;
  text-align: center;
  padding: 20px 8px 20px 57px;
  font-size: 14.65px;
  font-weight: 500;
  box-sizing: border-box;
  padding-right: 40.8px;
}
body .a1 .mid2 {
  height: 500px;
  width: auto;
  background-color: rgb(235, 102, 43);
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}
body .a1 .mid2 img {
  width: 100%;
}
body .special {
  background-color: white;
  width: auto;
  height: 205px;
  margin-top: 115px;
  padding-left: 15px;
}
body .special .spe1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .special .spe1 h2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  width: 206.51px;
  height: 45px;
  margin-top: 5px;
}
body .special .spe1 p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  height: 28.13px;
  width: 44.79px;
  margin-right: 40.8px;
}
body .special .spe2 {
  display: flex;
  width: auto;
  justify-content: space-between;
  gap: 47.19px;
}
body .special .spe2 div {
  height: 100px;
  display: flex;
  gap: 20px;
  width: 282.81px;
}
body .special .spe2 div img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
body .special .spe2 div span {
  font-size: 14.18px;
  color: orangered;
}

@media (min-width: 2000px) {
  .container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
  .a1 {
    max-width: 1290px;
    margin-right: auto;
    margin-left: auto;
  }
  .special {
    max-width: 1290px;
    margin-right: auto;
    margin-left: auto;
  }
}/*# sourceMappingURL=f1.css.map */