body {
    margin: 0;
    padding: 0;
}

.container div {
    box-sizing: border-box;
}

.destination>.container>h2 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    // line-height: 45px;
    // letter-spacing: 0em;
    text-align: left;
    padding: 0;
    margin: 0;

}

.destination>.container {
    width: auto;
    padding-bottom: 19.25px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid;

}

@media (min-width:1320px) {
    .container {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }


}

@media (min-width:1920px) {
    .customer_review {
        max-width: 1920px;


        margin-left: auto;
        margin-right: auto;
    }
}

.cardcontainer {

    // height: 210px;
    margin-top: 45px;
    // maleft: 15px;
    width: auto;
    // border: 2px solid black;
    display: flex;
    box-sizing: border-box;
    gap: 32px;

    >.cards {
        border: 1px solid;

        >div {
            width: 190px;
            height: 210px;

            border-radius: 12px;

        }

        >p:nth-of-type(1) {
            font-family: Inter;
            font-size: 17px;
            font-weight: 500;

            text-align: left;
            margin-top: 20px;
            margin-bottom: 4px;

        }

        >p:nth-of-type(2) {
            font-family: Inter;
            font-size: 13px;
            font-weight: 400;

            margin-top: 4px;
            margin-bottom: 0;

            text-align: left;

        }
    }

}

.early_booking {
    margin-top: 105px;
    background-color: #EB662B;
    padding: 50px 50px 50px 50px;
    display: flex;
    justify-content: space-around;

    >h2 {
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;


    }

    >button {
        width: 166.86px;
        height: 62px;
        background: #FFFFFF;
        padding: 17px 35.8px 17px 36px;
        border-radius: 12px;
        border: none;
        margin-left: 686.03px;
        // margin-right: 0px;
        color: #EB662B;


        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;


    }
}

// attraction

.attraction {
    border: 1px solid;
    margin-top: 115px;
    display: flex;
    padding-top: 5px;

    >h2 {
        font-family: Inter;
        font-size: 30px;
        font-weight: 700;
        // line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        // margin-top: 5px;
        margin: 0px;
    }

    >.grid {
        display: grid;
        grid-template-areas: "a d g"
            "b e h"
            "c f i";

        margin-top: 95px;
        width: 100%;
        margin-left: -228px;
        row-gap: 30px;

        >div {

            display: flex;
            border: 1px solid;
            // margin-top: 45px;

            >img {
                width: 100px;
                height: 100px;
                border-radius: 12px;
            }

            >div {
                margin-left: 30px;
                margin-top: 28.38px;
                margin-bottom: 27.62px;
                border: 1px solid;
                width: auto;
                display: flex;
                flex-direction: column;

                >h3 {
                    font-family: Inter;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 0em;
                    margin: 0;


                }

                >p {
                    font-family: Inter;
                    font-size: 13px;
                    font-weight: 400;
                    // line-height: 26px;
                    letter-spacing: 0em;
                    margin-left: 0;
                    margin-top: 4px;

                }
            }
        }

        >div:nth-of-type(1) {
            grid-area: a;
        }

        >div:nth-of-type(2) {
            grid-area: b;
        }

        >div:nth-of-type(3) {
            grid-area: c;
        }

        >div:nth-of-type(4) {
            grid-area: d;
        }

        >div:nth-of-type(5) {
            grid-area: e;
        }

        >div:nth-of-type(6) {
            grid-area: f;
        }

        >div:nth-of-type(7) {
            grid-area: g;
        }

        >div:nth-of-type(8) {
            grid-area: h;
        }

        >div:nth-of-type(9) {
            grid-area: i;
        }


    }

}

// customer reviews

.customer_review {
    background-image: url(images/customer\ reviews\ background.png);
    width: auto;
    // height: auto;
    margin-top: 105px;
    border: 1px solid;
    box-sizing: border-box;
    padding: 120px 300px 120px 300px;
    background-position: center;

    .container {
        width: 100%;
        border: 1px solid;
        box-sizing: border-box;
        padding-bottom:16.99px ;



        >h2 {
            margin-top: 0;

            font-family: Inter;
            font-size: 30px;
            font-weight: 700;
            // line-height: 45px;
            letter-spacing: 0em;
            text-align: center;

        }

        >div {
            display: flex;
            flex-direction: column;
            padding-left: 12.8px;
            padding-right: 12.61px;
            border: 1px solid;

            >img {
                width: 100px;
                height: 100px;
                // top: 10px;
                // left: 265px;
                // margin-top: 10px;
                // margin-left: 300px;
                align-self: center;

            }

            >p:nth-of-type(1) {
                margin-top: 60px;
                font-family: Inter;
                font-size: 20px;
                font-weight: 500;
                line-height: 38px;
                letter-spacing: 0em;
                text-align: center;
                color: #EB662B;


            }

            >div:nth-of-type(1) {
                // margin-top: 25px;
                border: 1px solid;
                box-sizing: border-box;

                >p {
                    font-family: Inter;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 38px;
                    letter-spacing: 0em;
                    text-align: center;
                    margin: 0;

                }
            }

            >div:nth-of-type(2) {
                margin-top: 28.5px;
                border: 1px solid;
                box-sizing: border-box;

                >p {
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 500;
                    // line-height: 26px;
                    letter-spacing: 0em;
                    text-align: center;
                    margin: 0;
                }
            }

            >div:nth-of-type(3) {
                margin-top: 2.6px;
                border: 1px solid;
                box-sizing: border-box;

                >p {
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                    // line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    margin: 0;
                }
            }

            >div:nth-of-type(4) {
                width: 100%;
                display: flex;
                gap: 8px;
                margin-top: 77px;
                height: auto;
                justify-content: center;

                >div:nth-of-type(1) {
                    width: 18px;
                    height: 6px;
                    // top: 482.85px
                    // left: 278px
                    border-radius: 20px;
                    background-color: black;


                }

                >div:nth-of-type(2) {
                    width: 6px;
                    height: 6px;
                    // top: 482.85px
                    // left: 304px
                    border-radius: 20px;
                    background-color: black;

                }
                >div:nth-of-type(3) {
                    width: 6px;
                    height: 6px;
                    // top: 482.85px
                    // left: 304px
                    border-radius: 20px;
                    background-color: black;

                }
                >div:nth-of-type(4) {
                    width: 6px;
                    height: 6px;
                    // top: 482.85px
                    // left: 304px
                    border-radius: 20px;
                    background-color: black;

                }
                >div:nth-of-type(5) {
                    width: 6px;
                    height: 6px;
                    // top: 482.85px
                    // left: 304px
                    border-radius: 20px;
                    background-color: black;

                }
            }
        }
    }

}