body {
    margin: 0;
    padding: 0;
}

#mount {
    width: 1920px;
    height: 721.25px;
    background-image: url(./mountain_pic.png);
    background-position: center;
    background-repeat: no-repeat;

}

section {
    display: flex;
    justify-content: center;
    margin: 110px 0 0 0;
}

.box {
    width: 1320px;
    height: 416.38px;
    border: 1px solid;

    >h2 {
        text-align: center;
        padding-top: 10px;
    }

    >div {
        display: flex;
        width: 1238.2px;
        border: 1px solid red;
        display: flex;
        justify-content: space-between;

        >div {
            width: 255.53px;
            height: 207.25px;
            border: 1px solid;

            i {
                width: 60px;
                height: 60px;
            }
        }

    }

}

@media (min-width:2000px) {
    #mount {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
    }
}